body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  margin: 0 auto;
  width: var(--containerWidth);
  position: relative;
}

/*=======================ZMIENNE========================*/

:root {
  --colorBackground: #2f303a;
  --colorAccent: #2196f3;
  --containerWidth: 1600px;
  --sectionWidth: 1170px;
  --transitionDuration: 250ms;
  --transitionTiming: cubic-bezier(0.4, 0, 0.2, 1);
}

/*====================classes for header==========================*/

.header {
  width: var(--containerWidth);
  height: 80px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  border: 1px solid #ececec;
}

.header__logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26;
  margin-left: 215px;
  margin-right: 93px;
  color: #000000;
  cursor: pointer;
  text-decoration: none;
}

.header__logo:hover,
.header__logo:focus {
  color: var(--colorAccent);
  text-decoration: none;
  transition-duration: var(--transitionDuration);
  transition-timing-function: var(--transitionTiming);
}

.header__logo--part {
  color: var(--colorAccent);
}

.navigation {
  list-style: none;
  width: 254px;
  display: flex;
  justify-content: space-between;
}

.link {
  font-weight: 500;
  font-size: 14px;
  color: #212121;
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--colorAccent);
  text-decoration: none;
  transition-duration: var(--transitionDuration);
  transition-timing-function: var(--transitionTiming);
}

.link__item {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
}

.link__item--active {
  color: var(--colorAccent);
}

.link__item--active::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  background: var(--colorAccent);
  height: 5px;
  border-radius: 3px;
  bottom: 0;
}

.contact {
  width: auto;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #757575;
  padding-left: 38px;
}

.contact__mail {
  margin-left: 350px;
}

.contact__phone {
  margin-right: 215px;
}

.contact:hover,
.contact:focus {
  fill: var(--colorAccent);
  cursor: pointer;
  transition-duration: var(--transitionDuration);
  transition-timing-function: var(--transitionTiming);
}

.contact__icon {
  width: 16px;
  height: 16px;
  margin: auto 15px;
}

.contact__adress {
  font-weight: 500;
  font-size: 14px;
  color: #757575;
  text-decoration: none;
}

.contact__adress:hover,
.contact__adress:focus {
  color: var(--colorAccent);
  text-decoration: none;
  transition-duration: var(--transitionDuration);
  transition-timing-function: var(--transitionTiming);
}

/*=======================classes for hero-section=========================*/

.hero {
  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4) 50%,
      rgba(47, 48, 58, 0.4) 50%
    ),
    url("../images/nowy.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--colorBackground);
  width: var(--containerWidth);
  height: 600px;
  border: 1px solid #000000;
}

.hero__position {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 200px;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  color: #ffffff;
  text-align: center;
  width: 696px;
  height: 120px;
}

.hero__button {
  font-weight: 700;
  font-size: 16px;
  background-color: #f5f4fa;
  cursor: pointer;
  height: 50px;
  width: 200px;
  border: none;
}

.hero__button:hover,
.hero__button:focus {
  background-color: var(--colorAccent);
  color: #ffffff;
  transition-duration: var(--transitionDuration);
  transition-timing-function: var(--transitionTiming);
}

/*==================CLASSES FOR FIRST SECTION====================*/

.activity {
  display: flex;
  justify-content: space-between;
  margin: 94px 215px;
  width: var(--sectionWidth);
  height: 251px;
}

.activity__item {
  width: 270px;
  height: 251px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 400;
  color: #757575;
  line-height: 1.7;
}

.activity__item--child {
  width: 270px;
  height: auto;
  background: #f5f4fa;
  border-radius: 4px;
}

.activity__item--icon {
  margin: 25px 102.34px;
  fill: #757575;
}

.activity__item--title {
  font-size: 14px;
  font-weight: 700;
  color: #212121;
  margin-top: 30px;
  margin-bottom: 10px;
}

.activity__item--description {
  margin: 0;
}

.activity__images {
  width: var(--sectionWidth);
  height: 386px;
  margin: 0 215px;
  padding-bottom: 94px;
}

.activity__images--title {
  font-weight: 700;
  font-size: 36px;
  color: #212121;
  padding-bottom: 50px;
  margin: 0 auto;
  text-align: center;
}

.activity__images--list {
  display: flex;
  list-style: none;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  justify-content: space-between;
}

.activity__images--position {
  position: relative;
}

.activity__images--part {
  position: absolute;
  bottom: 4px;
  left: 0;
  right: 0;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.activity__images--description {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  padding-top: 27px;
}

/* ===============CLASSES FOR SECOND SECTION=================*/

.team {
  background-color: #f5f4fa;
  height: 648px;
  margin-top: 94px;
}

.team__title {
  font-weight: 700;
  font-size: 36px;
  color: #212121;
  padding-bottom: 50px;
  padding-top: 94px;
  margin: 0 auto;
  text-align: center;
}

.team__position {
  width: var(--sectionWidth);
  height: 428px;
  margin: 0 215px;
}

.team__gallery {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  padding-left: 0;
  list-style: none;
  margin: 0;
}

.team__image {
  margin: 0%;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  height: 428px;
}

.team__image--description {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 30px;
}

.team__image--part {
  font-size: 16px;
  color: #757575;
  padding-top: 10px;
}

.team__icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 206px;
  height: 44px;
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 30px;
  margin-top: 16px;
}

.team__icons--item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
}

.team__icons--item:hover,
.team__icons--item:focus {
  background-color: var(--colorAccent);
  cursor: pointer;
  transition-duration: var(--transitionDuration);
  transition-timing-function: var(--transitionTiming);
}

.team__icons--item:hover > svg,
.team__icons--item:focus > svg {
  fill: white;
  cursor: pointer;
  transition-duration: var(--transitionDuration);
  transition-timing-function: var(--transitionTiming);
}

.team__icons--style {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  fill: #757575;
}

.team__icons--style:nth-child(1) {
  padding-top: 6px;
}

/* ====================CLASSES FOR THIRD SECTION=====================*/

.clients {
  width: var(--sectionWidth);
  height: 184px;
  margin: 94px 215px;
}

.clients__title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  color: #212121;
  padding-bottom: 50px;
  margin: 0;
}

.clients__position {
  display: flex;
  justify-content: space-between;
}

.clients__icons {
  margin: 0;
  width: 170px;
  height: 92px;
  border: 1px solid #757575;
  border-radius: 4px;
}

.clients__icons:hover,
.clients__icons:focus {
  border: 1px solid var(--colorAccent);
  cursor: pointer;
  border-radius: 4px;
  transition-duration: var(--transitionDuration);
  transition-timing-function: var(--transitionTiming);
}

.clients__icons:hover > svg,
.clients__icons:focus > svg {
  fill: var(--colorAccent);
  cursor: pointer;
  transition-duration: var(--transitionDuration);
  transition-timing-function: var(--transitionTiming);
}

.clients__icons--position {
  margin: 16px 32px;
  fill: #757575;
}

/*====================CLASSES FOR FOOTER SECTION======================*/

.footer {
  height: 252px;
  background-color: var(--colorBackground);
  padding-left: 215px;
  padding-bottom: 60px;
  padding-top: 60px;
  position: relative;
}

.footer__position {
  display: flex;
}

.footer__logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26;
  color: #ffffff;
  text-decoration: none;
}

.footer__logo:hover,
.footer__logo:focus {
  color: var(--colorAccent);
  transition-duration: var(--transitionDuration);
  transition-timing-function: var(--transitionTiming);
}

.footer__contact {
  display: flex;
  flex-direction: column;
  padding-top: 9px;
}

.footer__contact--place {
  font-size: 14px;
  color: #ffffff;
  margin: 0px;
  padding-top: 20px;
}

.footer__contact--link {
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
  padding-top: 9px;
}

.footer__contact--link:hover,
.footer__contact--link:focus {
  color: var(--colorAccent);
  transition-duration: var(--transitionDuration);
  transition-timing-function: var(--transitionTiming);
}

.footer__social {
  width: 206px;
  height: 80px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  margin-left: 70px;
}

.footer__social--title {
  padding-bottom: 22px;
  margin: 0;
}

.footer__social--icons {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 206px;
  height: 44px;
  margin: 0;
}

.footer__icons--position {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: #50515d;
}

.footer__icons--position:hover,
.footer__icons--position:focus {
  background-color: var(--colorAccent);
  cursor: pointer;
  transition-duration: var(--transitionDuration);
  transition-timing-function: var(--transitionTiming);
}

.footer__icons--position:hover > svg,
.footer__icons--position:focus > svg {
  fill: white;
  cursor: pointer;
  transition-duration: var(--transitionDuration);
  transition-timing-function: var(--transitionTiming);
}

.footer__icons--style {
  fill: #757575;
}

.newsletter {
  position: absolute;
  right: 215px;
  bottom: 106px;
  width: 570px;
  height: 86px;
}

.newsletter__title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
}

.newsletter__position {
  padding-bottom: 12px;
}

.newsletter__input {
  position: absolute;
  left: 0;
  bottom: 0;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  height: 50px;
  width: 358px;
  background: var(--colorBackground);
  padding-left: 16px;
  color: #eeeeee;
}

.footer__button {
  position: absolute;
  right: 0;
  bottom: 0;
  font-weight: 700;
  font-size: 16px;
  background-color: var(--colorAccent);
  cursor: pointer;
  height: 50px;
  width: 200px;
  border: none;
  color: #eeeeee;
  bottom: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 0;
}

.footer__button--title {
  position: absolute;
  left: 42px;
  bottom: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.footer__button--icon {
  position: absolute;
  right: 26px;
  bottom: 12px;
}

/* ============== CLASSES FOR PORTFOLIO SECTION ============== */

.button__list {
  list-style: none;
  display: flex;
  justify-content: center;
  padding-left: 0;
  padding-top: 94px;
  padding-bottom: 50px;
}

.button__list > li {
  padding-right: 8px;
}

.button__list--style {
  font-weight: 500;
  font-size: 16px;
  border: none;
  background-color: #f5f4fa;
  cursor: pointer;
  width: 93px;
  height: 38px;
}

.button__list--style:hover,
.button__list--style:focus {
  background-color: var(--colorAccent);
  color: #ffffff;
  transition-duration: var(--transitionDuration);
  transition-timing-function: var(--transitionTiming);
}

.portfolio__gallery {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  font-weight: 700;
  font-size: 18px;
  list-style: none;
  padding-left: 0;
  padding-right: 0;
  padding-top: 34px;
  padding-bottom: 94px;
  margin: 0 auto;
}

.portfolio__gallery > li > figure {
  margin: 0;
}

.portfolio__gallery--link {
  text-decoration: none;
  color: #212121;
}

.portfolio__gallery--item {
  margin: 0;
  border: 1px solid #eeeeee;
}

.portfolio__gallery--item:hover,
.portfolio__gallery--item:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition-duration: var(--transitionDuration);
  transition-timing-function: var(--transitionTiming);
}

.portfolio__gallery--item:hover .portfolio__gallery--image {
  transform: translateY(0);
}

.portfolio__gallery--hidden {
  position: relative;
  width: 370px;
  height: 294px;
  overflow: hidden;
}

.portfolio__gallery--image {
  position: absolute;
  transform: translateY(101%);
  width: auto;
  height: auto;
  background-color: rgba(33, 150, 243, 0.9);
  transition-duration: var(--transitionDuration);
  transition-timing-function: var(--transitionTiming);
  transition-property: transform;
}

.portfolio__gallery--text {
  margin: 0;
  padding: 49px 45px 49px 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.portfolio__gallery--description {
  width: 322px;
  height: 70px;
  display: flex;
  flex-direction: column;
  line-height: 36px;
  margin-left: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: auto;
}

.portfolio__gallery--part {
  font-size: 18px;
  font-weight: 400;
  color: #757575;
}

/* ===================BACKDROP & MODAL WINDOW===================== */

.backdrop {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
}

.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

.backdrop__window {
  position: absolute;
  width: 528px;
  height: 581px;
  top: 221px;
  left: 536px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.backdrop__window--title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 40px;
  margin-bottom: 12px;
}

.backdrop__label {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 10px;
}

.backdrop__label--title {
  margin-bottom: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.backdrop__input {
  position: relative;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  width: 448px;
  padding: 0px;
  padding-left: 30px;
}

.backdrop__input--icon {
  position: absolute;
  left: 12px;
  bottom: 11px;
}

.backdrop__textarea {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-right: 40px;
}

.backdrop__textarea--size {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-top: 12px;
  padding-left: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: black;
  height: 120px;
  width: 448px;
}

.backdrop__textarea--size::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.backdrop__textarea--size:focus {
  border-color: var(--colorAccent);
  outline: none;
}

.backdrop__textarea--row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 12px;
  margin: 0;
}

.backdrop__textarea--icon {
  margin-left: 0;
}

.backdrop__textarea--style {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  padding-top: 1px;
  margin-left: 6px;
}

.backdrop__textarea--link {
  color: var(--colorAccent);
}

.backdrop__button--send {
  font-weight: 700;
  font-size: 16px;
  background-color: var(--colorAccent);
  cursor: pointer;
  height: 50px;
  width: 200px;
  border: none;
  color: #eeeeee;
  position: absolute;
  bottom: 40px;
  left: 164px;
}

.backdrop__button--close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.backdrop__button--style {
  fill: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0;
  padding-right: 2px;
}

input:focus {
  border-color: var(--colorAccent);
  outline: none;
  transition-duration: var(--transitionDuration);
  transition-timing-function: var(--transitionTiming);
}

input:focus + svg {
  transition-duration: var(--transitionDuration);
  transition-timing-function: var(--transitionTiming);
  fill: var(--colorAccent);
}

input:hover {
  border-color: var(--colorAccent);
  transition-duration: var(--transitionDuration);
  transition-timing-function: var(--transitionTiming);
}

input:hover + svg {
  transition-duration: var(--transitionDuration);
  transition-timing-function: var(--transitionTiming);
  fill: var(--colorAccent);
}

textarea:hover {
  transition-duration: var(--transitionDuration);
  transition-timing-function: var(--transitionTiming);
  border-color: var(--colorAccent);
}
