.activity {
  display: flex;
  justify-content: space-between;
  margin: 94px 215px;
  width: $sectionWidth;
  height: 251px;

  &__item {
    width: 270px;
    height: 251px;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 400;
    color: #757575;
    line-height: 1.7;
  }

  &__item--child {
    width: 270px;
    height: auto;
    background: #f5f4fa;
    border-radius: 4px;
  }

  &__item--icon {
    margin: 25px 102.34px;
    fill: #757575;
  }
  &__item--title {
    font-size: 14px;
    font-weight: 700;
    color: #212121;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  &__item--description {
    margin: 0;
  }
}
