.footer__social {
  width: 206px;
  height: 80px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  margin-left: 70px;

  &--title {
    padding-bottom: 22px;
    margin: 0;
  }

  &--icons {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 206px;
    height: 44px;
    margin: 0;
  }
}
